@model ProjectRsa.UI.Models.ServerPageModel

@if (Model.Results != null)
{
    <span>Sort By</span>
    @Html.DropDownListFor(d=> d.SortBy, Model.AllSortOptions,htmlAttributes: new {id = "sort-by"})
}